.first-pic {
  position: relative;
  width: 100%;
  height: 630px;
  padding: 40px 95px;
  box-sizing: border-box;
  background-image: url("../assets/pictures/ford-airstream2.webp");
  background-size: cover;
}

@media (max-width: 1440px) {
  .first-pic {
    height: calc(100vw / 2.2857);
  }
}

.mini-link-container {
  height: 40px;
  position: relative;
  left: 0;
  top: 20%;
  display: block;
  width: max-content;
}

.paper-typoghragy__text {
  font-size: 1.1rem;
}

.link-button-right::after{
  content: "\e00f";
}